<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jenkins.common.userservice.mapper.UserMapper">
    <resultMap id="Base_Result_Map" type="com.jenkins.common.userinterface.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="salt" property="salt"/>
        <result column="active" property="active"/>

    </resultMap>

    <resultMap id="General_Map" type="com.jenkins.common.userinterface.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
    </resultMap>

    <resultMap id="Account" type="com.jenkins.common.userinterface.model.Account">
        <id column="userId" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="active" property="active"/>
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,phone,email,salt,active
    </sql>

    <select id="queryUser" resultMap="Base_Result_Map">
        select
        <include refid="Base_Column_List"/>
        from bk_user
        where email = #{email} and password = #{password}
    </select>

    <select id="selectUserByEmail" resultMap="Base_Result_Map">
        select <include refid="Base_Column_List"/>
        from bk_user
        where email = #{email}
    </select>

    <select id="getSalt" resultType="String">
        select salt from bk_user
        where email = #{email}
    </select>


    <select id="getEmail" resultType="java.lang.String">
        select email from bk_user
        where id = #{id}
    </select>


    <select id="getUserByPage" resultMap="Account">
        <bind name="offset" value="page*size"/>

        select bk_user.id as userId,username,email,phone,active,role_id,role_name from bk_user
        LEFT JOIN bk_user_role on bk_user.id = bk_user_role.user_id
        LEFT JOIN bk_role on bk_user_role.role_id = bk_role.id
        where 1 = 1
        <if test="user !=null">
            <if test="user.username!=null and user.username !=''">
                and bk_user.username like concat('%',#{user.username},'%')
            </if>
            <if test="user.id !=0">
                and bk_user.id like concat('%',#{user.id},"%")
            </if>
            <if test="user.email !=null">
                and bk_user.email = #{user.email}
            </if>
            <if test="user.phone != null">
                and bk_user.phone like concat('%',#{user.phone},'%')
            </if>
            <if test="page !=null and size!=null">
                limit #{offset},#{size}
            </if>
        </if>

    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from bk_user
        <where>
            <if test="user !=null">
                <if test="user.username !=null and user.username !=''">
                    and bk_user.username like concat('%',#{user.username},'%')
                </if>
                <if test="user.email !=null">
                    and bk_user.email = #{user.email}
                </if>
                <if test="user.id != 0">
                    and bk_user.id = #{user.id}
                </if>
                <if test="user.phone != null">
                    and bk_user.phone like concat('%',#{user.phone},'%')
                </if>

            </if>
        </where>
    </select>

    <select id="getUsers" resultMap="General_Map">
        select id,username,email from bk_user where active = 1
    </select>


    <insert id="insertUser" parameterType="com.jenkins.common.userinterface.entity.User"
    useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into bk_user(username,password,phone,email,salt,active)
        values (#{user.username},#{user.password},#{user.phone},#{user.email},#{user.salt},#{user.active})
    </insert>


    <update id="updateSelective" parameterType="com.jenkins.common.userinterface.entity.User">
        update bk_user
        <set>
            <if test="user.username !=null">
                username = #{user.username},
            </if>
            <if test="user.email !=null">
                email = #{user.email},
            </if>
            <if test="user.phone !=null">
                phone = #{user.phone},
            </if>
            <if test="user.active !=null">
                active = #{user.active,jdbcType=INTEGER},
            </if>
            <if test="user.salt !=null">
                salt = #{user.salt},
            </if>
            <if test="user.password !=null">
                password = #{user.password},
            </if>
        </set>
        where email = #{user.email} or id = #{user.id}
    </update>


    <delete id="deleteByEmail" parameterType="String">
        delete  from  bk_user
        where email = #{email}
    </delete>

</mapper>