<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="width=device-width">
    <title>Mail</title>
    <style>

    </style>
</head>
<body>
    <h2>Verification Email</h2>
    <h4>Please ignore this mail if the information is wrong! </h4>
    <div>Here are your registry information:</div>
    <br>
    <b><p th:text = "'Username: '+${username}"></p></b>
    <br>
    <a th:href="@{${url}}" >This refers to your activation page, please notice it is only valid for <b>ONE DAY</b></a>
</body>
<footer style="position: absolute;margin-top: 100px;">
    <br>
    --
    <br>
    From <b>JenkinsZhang's</b>  Test Server, <b>PLEASE DO NOT REPLY</b>
</footer>
</html>