<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jenkins.common.roomService.mapper.RoomMapper">
    <resultMap id="Base_Result_Map" type="com.jenkins.common.roomInterface.entity.Room" >
        <id property="roomId" column="room_id"/>
        <result property="roomName" column="room_name"/>
        <result property="address" column="address"/>
        <result property="airConditioner" column="air_conditioner"/>
        <result property="maxPeople" column="max_people"/>
        <result property="projection" column="projection"/>
        <result property="imageUrl" column="img"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        room_id, room_name, address, max_people
    </sql>

    <sql id="All_Column_List">
        room_id, room_name, address, max_people,projection, air_conditioner,img,status
    </sql>

    <update id="updateRoomSelective" >
        update bk_room
        <set>
            <if test="room.roomName != null">
                room_name = #{room.roomName},
            </if>
            <if test="room.maxPeople > 0">
                max_people = #{room.maxPeople},
            </if>
            <if test="room.projection > -1">
                projection = #{room.projection},
            </if>
            <if test="room.airConditioner > -1">
                air_conditioner = #{room.airConditioner},
            </if>
            <if test="room.imageUrl !=null">
                img = #{room.imageUrl},
            </if>
            <if test="room.status != -1">
                status = #{room.status}
            </if>
        </set>
        where room_id = #{room.roomId}
    </update>

    <delete id="deleteRoomById">
        delete from bk_room
        where room_id = #{roomId}
    </delete>

    <insert id="insertRoom" parameterType="com.jenkins.common.roomInterface.entity.Room" useGeneratedKeys="true" keyProperty="roomId" keyColumn="room_id">
        insert into bk_room(room_name,address,max_people,projection,air_conditioner,img,status)
        values (#{room.roomName},#{room.address},#{room.maxPeople},#{room.projection},#{room.airConditioner},#{room.imageUrl},#{room.status})
    </insert>

    <select id="selectAllRooms" resultMap="Base_Result_Map">
        select <include refid="Base_Column_List"/>
        from bk_room where status != 0
    </select>

    <select id="getRoomNameById" resultType="String">
        select room_name from bk_room
        where room_id = #{roomId}
    </select>

    <select id="getRoomDetailById" resultMap="Base_Result_Map">
        select <include refid="All_Column_List"/>
        from bk_room
        where room_id = #{roomId}
    </select>

    <select id="selectAllRoomDetails" resultMap="Base_Result_Map">
        select <include refid="All_Column_List"/>
        from bk_room
    </select>

    <select id="selectRoomDetails" resultMap="Base_Result_Map">
        select <include refid="All_Column_List"/>
        from bk_room where status != 0
    </select>


</mapper>